/*Импортируем шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Solitreo&family=Source+Code+Pro&display=swap');

/*Шрифт*/
/*font-family: 'Solitreo', cursive;*/
/*font-family: 'Source Code Pro', monospace;*/
/*font-family: 'Open Sans', sans-serif;*/

/*Стилизация скроллбара*/
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(164, 60, 236);
}

body::-webkit-scrollbar-thumb {
    background-color: #7830af;
    border-radius: 25px;
    border: 3px solid #7830af;
}


/*Стили для основной части*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(164, 60, 236);
    /*Для Firefox*/
    scrollbar-width: thin;
    scrollbar-color: #7830af rgb(164, 60, 236);
}

.container {
    margin: 0 auto;
    width: 1320px;
    padding: 0 25px;
}

.main_header {
    font-family: 'Solitreo', cursive;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 75px;
}

.main_header a {
    text-decoration: none;
    color: black;
}

.title {
    font-size: 58px;
}

.main_content > div{
    margin: 100px 0;
}

.select_block {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* dropdown styles */

.dropdown {
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    position: relative;
    min-width: 405px;
}

.select {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #7830af;
    border-radius: 18px;
    padding: 0.3em 1em;
    cursor: pointer;
}

.select-clicked {
    box-shadow: 0 0 0.3em #7830af;
    border-color: black;
}

.select-clicked .caret {
    border-top-color: #65278a;
}

.select:hover {
    box-shadow: 0 0 0.3em #7830af;
    border-color: black;
    transition: 0.5s;
}

.select:hover .caret {
    border-top-color: #65278a;
}

.caret {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 11px solid #7a2ba9;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 0.3em #7830af;
    margin-top: 10px;
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 5px 10px;
}

.menu li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu li:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu li:hover {
    background-color: #7830af;
    color: wheat;
    cursor: pointer;
}

.active {
    background-color: #7830af;
}

.menu-open {
    opacity: 1;
    display: block;
}

/* items styles */

.items_list {
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 75px;
    justify-content: space-between;
}

.item {
    font-family: 'Source Code Pro', monospace;
    font-size: 19px;
    width: 250px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 0 0.3em #7830af;
}

.item_img {
    width: 100%;
}

.item_info {
    padding-left: 20px;
}

.item_info > * {
    margin-bottom: 15px;
}

.item_name {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding-top: 15px;
    height: 130px;
}

.item_default_price {
    display: flex;
    flex-direction: column;
}

.item_price_usd {
    display: flex;
    flex-direction: column;
}

.item_price_rub {
    display: flex;
    flex-direction: column;
}

.item_discount_number {
    font-weight: bold;
}

.item_price_rub_number {
    font-weight: bold;
}

/*Если нет объектов*/

.empty_data {
    min-height: calc(100vh - 500px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty_data_text {
    font-family: 'Source Code Pro', monospace;
    font-size: 36px;
}

/*Стили для чата*/

.chat_block {
    display: flex;
    justify-content: center;
}

.chat {
    width: 1000px;
    height: 500px;
    border: 2px solid black;
}

